# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Cython build artifacts
build/
dist/
*.pyd
*.dll

# Virtual environments
venv/
env/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg-info/
*.egg

# Logs
*.log

.ipynb_checkpoints